<div class="allProjects grid-container">

	<a href="#">
		<div class="project grid-50">
			<div class="project-description">
				<h2>PROJECT NAME</h2>
				<p>view project details</p>
			</div>
			<img src="assets/img/example-img.png">
		</div>
	</a>

	<article class="contact grid-50">
		<div class="article-title rotate-right">
			<h2>CONTACT</h2>
		</div>
		<div class="article-content">
			<h3>Want to get in touch to work with me, ask me a question, or just say hi? Shoot me an email or find me on social media.</h3>
			<p><a>View More</a></p>
		</div>
	</article>

	<div class="project grid-50">
		<img src="assets/img/example-img.png">
	</div>

	<article class="contact grid-50">
		<div class="article-title rotate-right">
			<h2>CONTACT</h2>
		</div>
		<div class="article-content">
			<h3>Want to get in touch to work with me, ask me a question, or just say hi? Shoot me an email or find me on social media.</h3>
			<p><a>View More</a></p>
		</div>
	</article>

</div>